.modal {
  width: 70%;
  position: fixed;
  left: 15%;
  top: 25%;
  height: auto;
  min-height: 100px;
  padding: 24px;
  transition: all 0.3s ease-out;
  z-index: 100;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  border-radius: 6px;
  background-color: #fff;
  opacity: 1;
}

.modal.hide {
  opacity: 0;
  transform: translateY(-100vh);
}
